/* src/components/CustomCursor.css */

.custom-cursor {
  position: fixed;
  width: 30px; /* all custom cursor settings */
  height: 30px; 
  border: 5px solid orange; 
  border-radius: 50%; 
  pointer-events: none; 
  transform: translate(-50%, -50%);
  z-index: 1000; 
}


a:hover ~ .custom-cursor {
  border-color: darkorange;
}
