/* src/components/Projects.css */


#projects {
  margin: 20px auto; 
  padding: 20px; 
  width: 80%; 
  
  max-width: 800px;
  font-size: 18px
}


#projects h2, #projects h3 {
  color: #b85412; 
}

#projects p {
  color: #b85412; 
}
